@model EditemployeeViewModel
@{
    ViewData["Title"] = "Edit Employee";
}

<form method="post">
    <div class="container">
        <h1>Edit</h1>
        <p>Please fill in this form to Edit an employee.</p>
        <hr>
        <input type="hidden" asp-for="Id" value="@Model.Id">
        <label asp-for="Name"><b>Name</b></label>
        <input asp-for="Name" placeholder="Enter Name" required><br />
        <label asp-for="Email"><b>Email</b></label>
        <input asp-for="Email" placeholder="Enter Email" required><br />
        <label asp-for="Department"><b>Department</b></label>
        <input asp-for="Department" placeholder="Enter Department" required><br />
        <button type="submit">Create</button>
    </div>
</form>



